body a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

input[type="button"] {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0 0;
  margin: 0 0;
}

p {
  padding: 0 0;
  margin: 0 0;
}

ul {
  padding: 0 0;
  margin: 0 0;
}

body {
  padding: 0 0;
  margin: 0 0;
  font-family: 'Sansita One', cursive;
  font-family: 'Open Sans', sans-serif;
}

/* .callbacks_container{
  padding-bottom: 20em;
} */
.header-banner {
  /* background: url("../images/diguan.jpg") no-repeat; */
  background-size: 100% auto;
  /* min-height: 723px; */
  padding-top: 0;
  background-color: #F0EFE9;
  position: relative;
}

@media(min-width:1000px) {
  .header-banner {
    min-height: 123px;
  }
}

@media(max-width:1000px) {
  .header-banner {
    min-height: 5em;
  }
}

.header-left p {
  font-size: 1.1em;
}

@media(max-width:1000px) {
  .header-left p {
    font-size: 0.5em;
  }
}

.close-btn::before {
  content: "×";
  font-size: 20px;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.close-btn:hover::before {
  color: red;
}

.open-btn {
  border: none;
  background-color: transparent;

}

.popup {
  display: none;
  position: fixed;
  z-index: 1000000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: white;
  width: 80%;
  max-height: 80%;
  overflow-y: auto;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}

.header-top {
  position: relative;
  background: #fff;
  padding: 1em 0;
  z-index: 1000;
  top: 0
}

.logo {
  float: left;
}

.logo a {
  display: block;
}

.top-menu {
  float: right;
  /*position:fixed;*/
}

.top-menu ul li a {
  font-size: 1em;
  text-transform: capitalize;
  color: #000;
  margin: 0 0.5em;
  text-decoration: none;
}

.top-menu ul li {
  display: inline-block;
}

.top-menu ul li a:hover {
  border-top: 4px solid#fff;
  color: #eb172b;
}

.slider {
  position: relative;
  top: 0;
  width: 100%;
  text-align: center;
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0 0 1em;
  margin: 0;
}

.rslides h3 {
  position: absolute;
  /* left:2em; */
  display: block;
  text-align: center;
  top: 6%;
  color: #000000;
  font-size: 3.5em;
  width: 100%;
  margin: 5em auto 2em;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.2em;

}

.rslides h4 {
  position: absolute;
  left: 1.9em;
  top: 8%;
  color: #241b1b;
  width: 85%;
  margin: 3em auto 2em;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.2em;
  font-size: 2.8em
}

.paper-img {
  width: 25%;
}

.paper-desp {
  width: 75%;
}


.rslides img {
  position: relative;
  left: 0;
  top: 0;

}


@media(max-width:1000px) {
  .rslides h4 {
    font-weight: 180;
    font-size: 1em
  }

  .paper-img {
    width: 50%;
  }

  .paper-desp {
    width: 50%;
  }
}

@media(min-width:1000px) {}

.rslides h3 span {
  color: #eb172b;
  font-weight: 600;
}

.rslides h4 span {
  color: #eb172b;
  font-weight: 500;
}

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}

.blog-grids-css {
  position: relative;
  margin: 5%;
  text-align: left;
}

@media(max-width:1000px) {
  .blog-grids-css {
    margin: 3%;
  }
}



.blog-grids-csslj li {
  display: list-item;
  text-align: left;
  padding-bottom: 5%;
}

.blog-grids-csslj p {
  color: #3771ef;
}

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}

.callbacks_tabs a:after {
  content: "\f111";
  font-size: 0;
  font-family: FontAwesome;
  visibility: visible;
  display: block;
  height: 15px;
  width: 15px;
  display: inline-block;
  border: 2px solid #fff;
  border-radius: 50%;
  background: #eb172b;
}

.callbacks_here a:after {
  border: 2px solid #0e83cd;
  background: transparent;
}

.callbacks_tabs a {
  visibility: hidden;
}

.callbacks_tabs li {
  display: inline-block;
}

ul.callbacks_tabs.callbacks1_tabs {
  padding-bottom: 2em;

}

.callbacks_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  top: 73%;
  left: 15%;
  opacity: 0.7;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 61px;
  width: 38px;
  background: transparent url("../images/gif.png") no-repeat 0px 0px;
  margin-top: -45px;
}

.callbacks_nav.next {
  left: auto;
  background-position: right top;
  right: 15%;
}

a.button1 {
  background: rgb(255, 0, 39);
  padding: 0.5em 1em;
  font-size: 1.15em;
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
  position: absolute;
  top: 28%;
  left: 49%
}

@media(max-width:640px) {
  a.button1 {
    position: absolute;
    top: 45%;
    left: 47.15%;
  }
}


a.button1:hover {
  background: #0e83cd;
}

.header-top {
  width: 100%;
  position: fixed;
}

.header-top .logo img {
  height: 2.1em;
  width: 9em;

}

/* Shutter In Horizontal */
/* .hvr-shutter-in-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background: #2098d1;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
} */

/* .hvr-shutter-in-horizontal:before {
  content: "";
  position: absolute;
  z-index: 1000000;
  top: -1em;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(255, 0, 39);
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
} */

.hvr-shutter-in-horizontal:hover,
.hvr-shutter-in-horizontal:focus,
.hvr-shutter-in-horizontal:active {
  color: white;
}

.hvr-shutter-in-horizontal:hover:before,
.hvr-shutter-in-horizontal:focus:before,
.hvr-shutter-in-horizontal:active:before {
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}

.feature {
  background: #ffffff;
  text-align: center;
  padding: 4em 0;
}

.feature h3 {
  font-size: 2.5em;
  text-transform: capitalize;
  margin-bottom: 1.5em;
  color: #000;
  font-weight: 600;
}

@media(max-width:640px) {
  .feature p {
    padding-left: 1em;
    padding-right: 1em;
    font-size: 0.7em;
  }
}

.feature-grid h4 {
  font-size: 1.5em;
  text-transform: capitalize;
  padding: 0.8em 0;
  font-weight: 500;
  color: #48474d;
}

.feature-grid p {
  font-size: 1.1em;
  color: #666666;
  line-height: 1.6em;
  margin-bottom: 2em;
}

.feature-grid img {
  background: #0e83cd;
  padding: 1em 1em;
}

.feature-grid img:hover {
  background: rgb(255, 0, 39);
  border-radius: 10px;
}

a.button2 {
  background: rgb(255, 0, 39);
  padding: 0.5em 1em;
  font-size: 1.15em;
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
}

a.button2:hover {
  background: #0e83cd;
}

.gallery-section {
  text-align: center;
  padding: 4em 0 0;
}

button:hover {
  text-decoration: underline;
}

.gallery-section h3 {
  font-size: 2.5em;
  text-transform: capitalize;
  margin-bottom: 1.5em;
  color: #000;
  font-weight: 600;
}

.gallery-grid {
  padding: 2%;
  padding-bottom: 6%;
}

.gallery1 {
  position: relative;
  text-align: center;
}

.gallery1 a {
  display: block
}

.gallery1 img {
  width: 8em;
  height: 12em;
  margin: auto;
}

.gallery-grids .top-gallery {
  display: flex;
  width: 100%;
}

.gallery2 {
  font-size: 1em;
}
.tphei img{
  width: auto;
  height:20em;
}
.gallery3 img {
  height: 35em;
  width: 35em;
}


@media (max-width: 640px) {
  .gallery3 img {
    width: 19em;
    height: 18em;
  }
}

.gallery1 .textbox {
  width: 402px;
  height: 297px;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-transform: scale(0);
  transform: scale(0);
  border-radius: 0px;
  background-color: rgba(158, 51, 51, 0.45);
  -webkit-box-shadow: 0px 0px 15px 2px rgba(255, 255, 255, .75);
  box-shadow: 0px 0px 15px 2px rgba(255, 255, 255, .75);
}

/* .gallery1:hover .textbox {
  -webkit-transform: scale(1);
  transform: scale(1);
} */

.textbox img {
  padding-top: 8em;
  color: #fff;
  margin: 0 auto;
}

.textbox {
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.blog-section {
  text-align: center;
  padding: 4em 0;
  background: #E2DECF;
}

.header-top .container {
  justify-content: space-between;
  width: 100%;
}

.col-text {
  color: #d1cef0;
  padding-top: 15px;
}

.blog-section h3 {
  font-size: 2.5em;
  margin-bottom: 1.5em;
  color: #000;
  font-weight: 600;
}

.blog-grid img {
  margin: 0 0 0.5em;
}

.blog-info a {
  font-size: 1.5em;
  text-transform: capitalize;

  font-weight: 500;
  color: #48474d;
  text-decoration: none;
}

.blog-info p {
  font-size: 1.1em;
  color: #666666;
  line-height: 1.6em;
}

.blog-info h5 {
  font-size: 1.2em;
  color: #0e83cd;
  font-weight: 600;
  margin: 0.5em 0;
}

.google-map iframe {
  width: 100%;
  height: 500px;
  border: none;
}

.copyrights {
  text-indent: -9999px;
  height: 0;
  line-height: 0;
  font-size: 0;
  overflow: hidden;
}

.contact-section {
  text-align: center;
  padding: 4em 0;
  background: #2c2c2c;
}

.contact-section h3 {
  font-size: 2.5em;
  text-transform: capitalize;
  margin-bottom: 1.5em;
  color: #fff;
  font-weight: 600;
}

.contact-form form input[type="text"],
.contact-form form textarea {
  padding: 10px 15px;
  width: 100%;
  color: #fff;
  font-size: 1em;
  border: 1px solid #fff;
  background: transparent;
  outline: none;
  display: block;
  margin: 10px 0;
}

.contact-form form textarea {
  height: 150px;
  resize: none;
}

.contact-form form input[type="submit"] {
  background: rgb(255, 0, 39);
  padding: 9px 1.5em;
  border: none;
  text-transform: capitalize;
  font-size: 1.3em;
  margin-top: 1.5em;
  color: #fff;
  outline: none;
  font-weight: 400;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

.contact-form form input[type="submit"]:hover {
  background: #0e83cd;
}

.contact-form {
  margin: 0 22em;
}

.footer-section {
  padding: 3em 0;
  text-align: center;
  background-color: #ffffff;
  color: #000000
}

@media(max-width:640px) {
  .foot-section {
    padding-left: 2em;
  }
}

.footer-top p {
  font-size: 17px;
  color: #000000;
  font-weight: 400;
}

.footer-top a {
  font-size: 19px;
  color: #0e83cd;
  font-weight: 400;
  text-transform: capitalize;
}

.footer-top a:hover {
  color: #d5d6d7;
}

.footer-top p a {
  margin: 0 6px 0 6px;
}

#toTop {
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  overflow: hidden;
  width: 48px;
  height: 48px;
  border: none;
  text-indent: 100%;
  background: url("../images/to-top2.png") no-repeat 0px 0px;
}

/*-- responsive-mediaquries --*/

@media(max-width:1440px) {
  /* .header-banner {
    min-height: 643px;
  } */

  .rslides h3 {
    font-size: 3em;
    margin: 4em auto 4em 4em;
  }

  ul.callbacks_tabs.callbacks1_tabs {
    left: 47%;
  }

  .gallery1 .textbox {
    width: 352px;
    height: 264px;
  }
}

@media(max-width:1366px) {
  /* .header-banner {
    min-height: 610px;
  } */

  ul.callbacks_tabs.callbacks1_tabs {
    left: 47%;
    bottom: -35px;
  }

  .rslides h3 {
    margin: 3.5em auto 1em;
  }

  .rslides h4 {
    margin: 2.5em auto 1em;

  }

  .gallery1 .textbox {
    width: 333px;
    height: 250px;
  }

  .textbox img {
    padding-top: 7em;
  }
}

@media (max-width: 1280px) {
  /* .header-banner {
    min-height: 570px;
  } */

  .rslides h3 {
    margin: 3em auto 1em;
  }

  ul.callbacks_tabs.callbacks1_tabs {
    left: 46%;
    bottom: -42px;
  }

  .gallery1 .textbox {
    width: 313px;
    height: 234px;
  }
}

@media (max-width: 1024px) {
  .logo {
    float: left;
    width: 25%;
  }

  .logo img {
    width: 100%;
  }

  .top-menu ul li a {
    font-size: 1.2em;
  }

  .rslides h3 {
    color: #000000;
    font-size: 2.5em;
    width: 88%;
    margin: 4em auto 1em;
  }

  /* .header-banner {
    min-height: 461px;
    padding-top: 2.5em;
  } */

  ul.callbacks_tabs.callbacks1_tabs {
    bottom: -37px;
  }

  .feature h3 {
    font-size: 2em;
  }

  .feature-grid h4 {
    font-size: 1.3em;
  }

  .feature-grid p {
    font-size: 0.9em;
  }

  .gallery-section h3 {
    font-size: 2em;
  }

  /* .gallery-grids {
    display: flex;
  } */

  .gallery1 .textbox {
    width: 252px;
    height: 189px;
  }

  .textbox img {
    padding-top: 5em;
  }

  .blog-section h3 {
    font-size: 2em;
  }

  .blog-info a {
    font-size: 1.3em;
  }

  .blog-info h5 {
    font-size: 1.1em;
  }

  .blog-info p {
    font-size: 0.96em;
  }

  .contact-section h3 {
    font-size: 2em;
  }

  .contact-form form input[type="submit"] {
    font-size: 1.1em;
  }

  .footer-top p {
    font-size: 15px;
  }

  .footer-top a {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .top-menu ul li a {
    font-size: 1em;
  }

  .gallery2 {
    font-size: 0.7em;
  }

  .gallery1 .col-text {
    font-size: 0.8em;
  }

  .top-menu {
    float: right;
    margin-top: 0.3em;
  }

  /* .header-banner {
    min-height: 336px;
    padding-top: 2em;
  } */

  .rslides h3 {
    font-size: 2em;
    margin: 3em auto 1em;
  }


  a.button1 {
    font-size: 0.95em;
  }

  ul.callbacks_tabs.callbacks1_tabs {
    bottom: -31px;
    left: 45%;
  }

  .feature {
    padding: 3em 0;
  }

  .feature h3 {
    font-size: 1.6em;
  }

  .feature-grid {
    float: left;
    width: 25%;
  }

  .feature-grid h4 {
    font-size: 1.15em;
  }

  .feature-grid p {
    font-size: 0.9em;
  }

  a.button2 {
    font-size: 0.95em;
  }

  .gallery-section {
    text-align: center;
    padding: 3em 0 0;
  }

  .gallery-section h3 {
    font-size: 1.6em;
  }

  .gallery-grid {
    float: left;
    width: 25%;
  }

  .gallery1 .textbox {
    width: 188px;
    height: 141px;
  }

  .textbox img {
    padding-top: 3em;
  }

  .blog-section h3 {
    font-size: 1.6em;
  }

  .blog-section {
    text-align: center;
    padding: 3em 0;
  }

  .blog-grid {
    float: left;
    width: 33.3%;
  }

  .blog-info a {
    font-size: 1.15em;
  }

  .blog-info h5 {
    font-size: 1em;
  }

  .blog-info p {
    font-size: 0.9em;
  }

  .google-map iframe {
    height: 320px;
  }

  .contact-section {
    text-align: center;
    padding: 3em 0;
  }

  .contact-section h3 {
    font-size: 1.6em;
  }

  .contact-form {
    margin: 0 10em;
  }

  .contact-form form input[type="submit"] {
    font-size: 0.9em;
  }

  .contact-form form input[type="text"],
  .contact-form form textarea {
    font-size: 0.95em;
  }
}

.header-left {
  float: left;
  width: 30%;
  display: flex;
  justify-content: center;
}

.header-left-paper {
  float: left;
  width: 45%;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 640px) {
  .header-left {
    float: left;
    width: 70%;
    display: flex;
    justify-content: center;
  }

  .header-left-paper {
    float: left;
    width: 80%;
    display: flex;
    font-size: 0.72em;
    justify-content: space-between;
  }

  .header-left p {
    font-size: 0.7em;
  }
}

@media (max-width: 640px) {
  .header-top .logo img {
    height: 0.65em;
    width: 5.2em;

  }

  /* .header-banner {
    min-height: 285px;
    padding-top: 1.5em;
  } */



  .rslides h3 {
    font-size: 1.5em;
    margin: 3.5em auto 1em;
    width: 100%;
  }

  .top-menu ul li a {
    font-size: 0.9em;
  }

  ul.callbacks_tabs.callbacks1_tabs {
    bottom: -29px;
    left: 43%;
  }

  a.button1 {
    font-size: 0.9em;
  }

  .feature h3 {
    font-size: 1.4em;
    margin-bottom: 1em;
  }

  .research {
    text-align: left;
  }

  .feature {
    padding: 2em 0;
  }

  .feature-grid h4 {
    font-size: 1.1em;
  }

  .feature-grid p {
    font-size: 0.85em;
    margin-bottom: 1em;
  }

  .feature-grid img {
    background: #0e83cd;
    padding: 0.5em 0.5em;
  }

  a.button2 {
    font-size: 0.9em;
  }

  .gallery-section h3 {
    font-size: 1.4em;
    margin-bottom: 1em;
  }

  .gallery-section {
    text-align: center;
    padding: 2em 0 0;
  }

  .gallery1 .textbox {
    width: 156px;
    height: 117px;
  }

  .textbox img {
    padding-top: 2.7em;
    width: 26%;
  }

  .blog-section {
    padding: 2em 0;
  }


  .blog-section h3 {
    font-size: 1.4em;
    margin-bottom: 1em;

  }

  .blog-info a {
    font-size: 1.1em;
  }

  .blog-info h5 {
    font-size: 0.9em;
  }

  .blog-info p {
    font-size: 0.89em;
  }

  .google-map iframe {
    height: 250px;
  }

  .contact-section h3 {
    font-size: 1.4em;
    margin-bottom: 1em;
  }

  .contact-form {
    margin: 0 5em;
  }

  .contact-section {

    padding: 2em 0;
  }

  .footer-top p {
    font-size: 14px;
  }

  .footer-top a {
    font-size: 15px;
  }
}

@media (max-width: 480px) {
  span.menu:before {
    content: url(../images/nav.png);
    cursor: pointer;
  }

  .top-menu {
    float: right;
    margin: 0%;
  }

  .top-menu ul {
    display: none;
  }

  .top-menu ul li {
    font-size: 13px;
    display: inline-block;
    width: 100%;
    padding: 0.5em 0;
  }

  span.menu {
    display: block;
    float: right;
  }

  .top-menu ul {
    margin: 0;
    z-index: 999;
    position: absolute;
    width: 100%;
    text-align: center;
    /*top: 7%;*/
    left: 0%;
    margin-top: 1%;
    background: rgba(1, 153, 230, 0.9);
  }

  .logo {
    float: left;
    width: 34%;
    margin-top: 0.3em;
  }

  .casiahand {
    color: #d1cef0
  }

  .header-top {
    background: rgba(255, 255, 255, 0.75);
    padding: 0.5em 0;
  }

  .rslides h3 {
    font-size: 1.3em;

  }

  a.button1 {
    font-size: 0.85em;
  }

  /* 
  .header-banner {
    min-height: 220px;
    padding-top: 0.8em;
  } */

  ul.callbacks_tabs.callbacks1_tabs {

    display: none;
  }

  .feature h3 {
    font-size: 1.2em;
  }

  .feature-grid img {
    width: 20%;
  }

  .feature-grid {
    float: none;
    width: 100%;
    margin-top: 1em;
    padding: 0;
  }

  .feature-grid h4 {
    font-size: 1em;
  }

  a.button2 {
    font-size: 0.85em;
  }

  .gallery-section h3 {
    font-size: 1.2em;
  }

  .gallery-grid {
    float: left;
    width: 50%;
  }

  .gallery1 .textbox {
    width: 232px;
    height: 174px;
  }

  .textbox img {
    padding-top: 5em;
    width: 20%;
  }

  .blog-section h3 {
    font-size: 1.2em;
    margin: 0;
  }



  .blog-grid {
    float: none;
    width: 100%;
    margin-top: 1em;
  }

  .blog-info a {
    font-size: 1em;
  }

  .google-map iframe {
    height: 200px;
  }

  .contact-section h3 {
    font-size: 1.2em;
  }

  .contact-form {
    margin: 0 0em;
  }

  .contact-form form input[type="text"],
  .contact-form form textarea {
    font-size: 0.9em;
  }

  .contact-form form input[type="submit"] {
    margin-top: 1em;
    padding: 9px 1em;
  }
}

@media (max-width: 320px) {
  .logo {
    width: 4em;
  }

  .top-menu ul {
    top: 11%;
  }

  .rslides h3 {
    font-size: 1.16em;
    width: 100%;
  }

  /* .header-banner {
    min-height: 230px;
    padding-top: 0.8em;
  } */

  .top-menu ul li {
    padding: 0.4em 0;
  }

  .feature h3 {
    font-size: 1.1em;
  }

  .gallery1 .textbox {
    width: 152px;
    height: 114px;
  }

  .feature-grid img {
    width: 25%;
  }

  .textbox img {
    padding-top: 3em;
    width: 20%;
  }

  .gallery-section h3 {
    font-size: 1.1em;
  }

  .blog-section h3 {
    font-size: 1.1em;
  }

  .blog-grid {
    padding: 0;
  }

  .paper {
    display: flex;
    width: 100%;
  }

  .paper .paper-img {
    width: 100%;
  }

  .paper-img img {
    width: 100%;
  }

  .contact-section h3 {
    font-size: 1.1em;
  }

  .footer-top p {
    font-size: 13px;
  }

  .footer-top p {
    font-size: 13px;
  }
}
